<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Header Name-->
  <a class="navbar-brand" href="/">SHOE SHOP</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-sm-2">

      <li class="nav-item active">
        <span class="nav-link"><a id="shoppingText" href="/shopping-cart/"> Shopping Cart </a><a href="#" class="badge badge-dark">{{session.cart.totalQuantity}}</a></span>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Management</a>
        {{#if login }}
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/user/profile">User Account</a>
            <a class="dropdown-item" href="/user/logout">Logout</a>
            <div class="dropdown-divider"> </div> 
          </div>
        {{else}}
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/user/signup">Sign Up</a>
            <a class="dropdown-item" href="/user/signin">Sign In</a>
          </div>
        {{/if}}
      </li>
    </ul>
    
  </div>
</nav> 







































<!-- This is an e-commerce system created by Romanus Njogu Borges - @romeyborges -->
