<div class="row d-flex justify-content-center">
  <div class="con">
    <h1 class="text-center">Cash On Delivery</h1><br>
    <p hidden id="text-center">Kindly copy and present the following token and personal details blow (right) upon delivery of product.</p>
    <div id="success" class="alert alert-success d-none" {{#if noMessages }}hidden{{/if}}>
        {{successMsg}}
    </div>
    <div class="leftC float-left">
    <form action="/page" method="post" id="cod">
      {{#if hasErrors }}
        <div class="alert alert-danger">
          {{#each messages }}
            <p>{{this}}</p>
          {{/each}}
        </div>
      {{/if}}
      <!-- Input email -->
      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="email" id="email" name="email" placeholder="Enter your Email" class="form-control" required>
        <label for="materialFormCardEmailEx" class="font-weight-light">Email address</label>
      </div>
      <!-- Input number -->
      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="tel" id="tel" name="tel" placeholder="Enter your Phone Number" class="form-control" required>
        <label for="materialFormCardAddressEx" class="font-weight-light">Phone Number</label>
      </div>
      <!-- Input address -->
      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="address" id="address" name="address" placeholder="Enter your Address" class="form-control" required>
        <label for="materialFormCardAddressEx" class="font-weight-light">Shipping Address</label>
      </div>
      <div class="text-center py-4 mt-3">
        <input type="button" value="Submit" onclick="myfunction()" class="btn btn-success">
      </div>
    </form>
  </div>
  <form name="myform">
    <div class="tokenCOD float-right">
        <div> Email: <label for="" id="l1"></label> </div>              
        <div> Phone: <label for="" id="l2"></label> </div>  
        <div> Address: <label for="" id="l3"></label> </div>   
        <div> Token: <a hidden id="csrf" name="_csrf">{{ csrfToken }}</a> </div>
        <div> Date: <p id="date"></p> </div>
        <div class="text-center py-4 mt-3">
          <input type="button" value="Save" name="text_area" onclick="save()" class="btn btn-primary">
      </div>
    </div>
  </form>
  </div>
</div>

<script>
    function myfunction() {
      var address = document.getElementById('l3').innerHTML = document.getElementById('address').value;
      var phone = document.getElementById('l2').innerHTML = document.getElementById('tel').value;
      var email = document.getElementById('l1').innerHTML = document.getElementById('email').value;
        
      if ((address == "") || (email == "") && (phone = "")) {
          alert("Please fill out all the fields.");
          return false;
      }
      else{
          document.getElementById('date').innerHTML = Date();
          document.getElementById("csrf").removeAttribute("hidden");
          document.getElementById("text-center").removeAttribute("hidden");
          return true; 
      }
    }
    function save() {
      val = document.myform.text_area.value; 
      mydoc = document.open(); 
      mydoc.write(val); 
      mydoc.execCommand("saveAs",true,".txt"); //you can change the .txt to your extention
      history.go(-1);
    }
</script>






































<!-- This is an e-commerce system created by Romanus Njogu Borges - @romeyborges -->
