<div class="row d-flex justify-content-center">
<div class="col-sm-6 col-md-4">
    <h1>Page</h1>
    <div id="success" class="alert alert-success" {{#if noMessages }}hidden{{/if}}>
        {{successMsg}}

        Field1: <input type="text" id="field1" value=""><br>
                    Field2: <input type="text" id="field2"><br><br>

                    <button onclick="myFunction()">copy</button>
    </div>
  </div>
</div>








































<!-- This is an e-commerce system created by Romanus Njogu Borges - @romeyborges -->
