<div class="row mt-5 d-flex justify-content-center">
    <div class="col-md-4 col-md-offset-4">

        <div class="card">
            <div class="card-body">
                <form action="/user/signup" method="post">
                    <p class="h4 text-center py-4">Sign up</p>
                        {{#if hasErrors }}
                        <div class="alert alert-danger">
                            {{#each messages }}
                                <p>{{this}}</p>
                            {{/each}}
                        </div>
                        {{/if}}
                    <!-- Input email -->
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="email" id="email materialFormCardEmailEx" name="email" placeholder="Enter your email" class="form-control">
                        <label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
                    </div>

                    <!-- Input password -->
                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="password materialFormCardPasswordEx" name="password" placeholder="Enter your Password" class="form-control">
                        <label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
                    </div>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <div class="text-center py-4 mt-3">
                        <button class="btn btn-outline-dark" type="submit">Sign Up</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

</div>








































<!-- This is an e-commerce system created by Romanus Njogu Borges - @romeyborges -->
