.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
#shoppingText {
  color: grey;
}
/*Product's css*/

.col-sm-6{
  padding-top: 30px;
  padding-bottom: 20px;
}

.thumbnail{
  border: 2px;
  color: balck;
}
.thumbnail img {
  margin: auto;
  max-height: 200px;
  max-width: 400px;
} 

.thumbnail description {
  color: #7f7f7f; 
}

.price {
  font-weight: bold;
  font-size:  16px;
}

.btn-success{
  font-weight: bold;
  /*width: -webkit-fill-available;*/
}
.buy{
  float:left;
}
.txt{
  width: 100%;
  text-align: right;
}
.colorHolder{
  float: right;
  width: 50%;
  transform: rotateY(180deg);
}
.box-left {
  float: left;
}
#item {
  height: 200px;
  width: 200px;
}
.box-right-top {
  height: 100px;
  width: 100%;
}
.box-right-bottom {
  padding-top: 3em;
  height: 100px;
  width: 100%;
}

.dropdown-menu {
  background-color: royalblue;
}
.dropdown-menu li a {
  color: white;
}
.btn btn-success {
  background-color: #28a745;
}
.box-full {
  height: 200px;
  width: 100%;
}
#pic {
  height: 50px;
  width: 50px;
}
.panel-footer {
  text-align: right;
}
#outter-list-group {
  background-color: #28a745;
}










/* This is an e-commerce website created by Romanus Njogu Borges-@romeyborges*/