.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
#shoppingText {
  color: grey;
}
/*Product's css*/

.col-sm-6{
  padding-top: 30px;
  padding-bottom: 20px;
}

.thumbnail{
  border: 2px;
  color: balck;
}
.thumbnail img {
  margin: auto;
  max-height: 200px;
  max-width: 400px;
} 

.thumbnail description {
  color: #7f7f7f; 
}

.price {
  font-weight: bold;
  font-size:  16px;
}

.btn-success{
  font-weight: bold;
  /*width: -webkit-fill-available;*/
}
.buy{
  float:left;
}
.txt{
  width: 100%;
  text-align: right;
}
.colorHolder{
  float: right;
  width: 50%;
  transform: rotateY(180deg);
}