<div class="row d-flex justify-content-center">
    <div class="col-sm-6 col-md-4">
        
        <div class="card">
            <div class="card-body">
                <form action="/shop/checkout" method="post" id="checkout-form">
                    <h1 class="text-center">Cash Checkout</h1>
                    <h6 class="text-center">Your Total: ${{total}}</h6><br>
                    
                    <div id="charge-error" class="alert alert-danger d-none">
                        {{#if hasErrors }}
                        <div class="alert alert-danger"></div>
                            {{#each messages }}
                                <p>{{this}}</p>
                            {{/each}}
                        </div>
                        {{/if}}
                    </div>
                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="text" id="name materialFormCardPasswordEx" name="Name" placeholder="Enter your Name" required class="form-control">
                        <label for="materialFormCardPasswordEx" class="font-weight-light">Your Name</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="email" id="email materialFormCardEmailEx" name="email" placeholder="Enter your email" required class="form-control">
                        <label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
                    </div>
                    
                    <div class="md-form">
                        <input type="text" id="address materialFormCardPasswordEx" name="address" placeholder="Enter your Address" required class="form-control">
                        <label for="materialFormCardAddressEx" class="font-weight-light">Your address</label>
                    </div>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                    <div class="text-center py-4 mt-3">
                        <button class="btn btn-success" type="submit">Purchase</button>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="text-center p-5">
            <footer>Session expires after 10 minutes</footer>
        </div>
    </div>
</div>

<script src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>