<!-- Product containers -->
{{# each products }}
  <div class="row">
    <!-- Products-->
    {{# each this }}
      <div class="col-sm-6 col-md-4">
        <!-- Product placeholder -->
        <div class="thumbnail">
          <!-- Image source -->
          <img src="{{ this.imagePath }}" alt="..." class="img-responsive">
          <!-- Product title & text -->
          <div class="caption">
            <h3>{{ this.title }}</h3>
            <p>{{ this.description }}</p>
            <!-- Product price & button-->
            <div class="clearfix">
              <div class="price pull-left">${{ this.price }}</div>
                <a href="#" class="btn btn-success pull-right" role="button">BUY</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/each}}