<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Successful Checkout</title>
</head>
<body>
    <div id="success" class="alert alert-success" {{#if noMessage }}d-none{{/if}}>
        {{successMsg}}
    </div>
    <p>Kindly provide transaction details upon delievery. Thank you </p>


    <div class="text-center py-4 mt-3">
        <a href="" class="btn btn-success" type="submit">Purchase</a>
    </div>
</body>
</html>








































<!-- This is an e-commerce system created by Romanus Njogu Borges - @romeyborges -->
